<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add questions to quiz.</title>
    <link rel="stylesheet" href="css/style1.css" />
  </head>
  <body>
    <div class="form">
    <form class="" action="/add" method="post">
      <span>Question  :</span>
      <input type="text" name="question" class="question" value="" placeholder="Enter Question Here.">
      <br><br> <br>
      <input type="text" name="answer1" class="answer" value="" placeholder="Option 1">
      <input type="radio" id="answer1" name="val"  value="ans1">
      <input type="text" name="answer2" class="answer" value="" placeholder="Option 2">
      <input type="radio" id="answer2" name="val" value="ans2">
      <input type="text" name="answer3" class="answer" value="" placeholder="Option 3">
      <input type="radio" id="answer3" name="val" value="ans3">
      <input type="text" name="answer4" class="answer" value="" placeholder="Option 4">
      <input type="radio" id="answer4" name="val" value="ans4">
      <br> <br>
      <input type="submit" name="Submit" class="submit" value="Add Question" >
    </div>
    </form>
  </body>
</html>
