<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add questions to quiz.</title>
    <link rel="stylesheet" href="css/style1.css" />
  </head>
  <body>
    <div class="form">
    <form class="" action="/add" method="post">
      <span>Question  :</span>
      <input type="text" name="question" class="question" value="" placeholder="Enter Question Here.">
      <br><br> <br>
      <div class="options">
      <input type="text" name="answer[]" class="answer" value="" placeholder="Option 1">
      <input type="radio" id="answer1" name="val"  value="ans1">
      <input type="text" name="answer[]" class="answer" value="" placeholder="Option 2">
      <input type="radio" id="answer2" name="val" value="ans2">
      </div>
      <div class="additionalOpt"></div>
      <div class="addOption"><h1>+</h1></div>
      <input type="number" class="num hide" name="count" value="">
      <br> <br>
      <input type="submit" name="Submit" class="submit" value="Add Question" >
    </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="module" src="/js/index1.js"></script>
  </body>
</html>
