<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Homepage</title>
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,800;1,500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="nav">
      <a class="title link" href="#">ProjectQuiz</a>
      <a class="linkBut1 link" href="/login">Login</a>
      <a class="linkBut2 link" href="/sign-up">Sign Up</a>
    </section>
    <section class="body">
      <a href="#">Start a Quiz</a>
      <a href="#">Create a Quiz</a>
    </section>
  </body>
</html>
