<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>QuizTime - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">
        <link rel="icon" href="favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  </head>

  <body>
    <header class="">
      <a class="title link" href="#">QuizTime</a>
      <ul>
        <li>
          <a class="my-quiz link"  href="/my-quiz">My Quizzes</a>
        </li>
        <li>
          <a class="linkBut1 link" id="logout" href="#">Log out</a>
        </li>
      </ul>
    </header>
    <section class="cover">
      <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1 class="headText">Test Your <br> Learnings</h1>
        <a id="inputId" ><button class="btn btn-primary firstBtn" type="button" name="button">Start a Quiz</button></a>
        <a id="createQuiz" href="/create-quiz"><button class="btn btn-primary" type="button" name="button">Create a Quiz</button></a>
      </div>
      <div class="image col-sm-12 col-md-6">
        <img src="images/main1.png" alt="">
      </div>
    </div>
    </section>
    <section class="features_bar">
    <div class="row features_row">
      <div class="col-sm-12 col-md-3">
        <a href="benefits.html"> <img src="images/boost.jpg" alt=""></a>
        <p>BOOST GRADES</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <a href="benefits.html"><img src="images/insight.jpg" alt=""></a>
        <p>GAIN INSIGHTS</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <a href="benefits.html"><img src="images/shuffle.png" alt=""></a>
        <p>SHUFFLED OPTIONS</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <a href="benefits.html"><img src="images/improvement.png" alt=""></a>
        <p>IMPROVE OVERTIME</p>
      </div>
    </div>
  </section>
  <section class="third">
    <div class="objective">
      <div class="head">
        <h3>Objective of QuizTime</h3>
      </div>
      <div class="content">
        <p class="contentP">The Objective behind to QuizTime is to evaluate the knowledge of the participants within academics as well as beyond academics and to make them familiar with the prospects of quizzes and the objectivity of the questions. The main purpose of the app is to develop interest in the subject areas of the student.</p>
      </div>
    </div>
  </section>
  <section class="second">
    <div data-aos="slide-up" data-aos-duration="1000" data-aos-delay="100" class="quizzes">
      <h2 class="textSecond">QuizTime</h2>
      <h2>Get Quizzing!</h2>
        <a class="linkBut1 link" href="/login"><button class="classBtn" type="button" name="button">Log in</a></button>
        <br> <h3 class="or">OR</h3> <br> <a class="linkBut2 link" href="/sign-up"><button class="classBtn" type="button" name="button">Sign Up</a></button>
        <br> <h2>To get started!</h2>
    </div>
  </section>
  <section class="contact_us">
    <h2 style="text-align:center; color:#888">Get In Touch</h2>
    <form class="" action="mailto:sinhaanand@icloud.com" method="post">
      <input type="text" name="first_name" value="" placeholder="First Name">
      <input type="text" name="last_name" value="" placeholder="Last Name">
      <input type="email" name="email" value="" placeholder="Email ID">
      <input style="margin-top: 50px" type="submit" name="" value="Contact Me" placeholder="Contact Me">
    </form>
  </section>
  <div class="copy">
    <h4>&copy Copyright Anand 2021</h4>
  </div>

                          <!-- <section class="nav">
                            <a class="title link" href="#">ProjectQuiz</a>
                            <a class="linkBut1 link" href="/login">Log in</a>
                            <a class="linkBut2 link" href="/sign-up">Sign Up</a>
                          </section> -->
    <!-- <section class="body"> -->
    <!-- </section> -->
    <!-- <section class="nav">
      <a class="title link" href="#">ProjectQuiz</a>
      <a class="linkBut1 link" id="logout" href="#">Log-out</a>
      <a class="my-quiz link" id="logout" href="/my-quiz">My Quizes</a>
    </section>
    <section class="body">
      <a href="/start-quiz">Start a Quiz</a>
      <a href="/create-quiz">Create-a-Quiz</a>
    </section> -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script type="text/javascript">
    document.getElementById("inputId").onclick=function(){
      let id = prompt("Enter quiz ID here!\nTo try a default quiz leave the space blank");
      // console.log(id);
      if (id==""){
        id="ouWYChESp";
      };
      var link = "http://"+window.location.href.split("/")[2]+'/start-quiz/'+id;
      // console.log(link);
      window.location = link;
    };
    window.addEventListener("scroll",function(){
      var header = document.querySelector("header");
      console.log(header);
      header.classList.toggle("sticky", window.scrollY>0);
    })
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/logout.js"></script>
  </body>
</html>
