*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
}
body{
  /* background: #fff; */
  background-color: rgba(255,220,41,1);
  /* min-height: 200vh; */
  overflow: hidden;
}
::selection{
  color:rgba(255,240,60,1);
  background-color: transparent;
}
a{
  color: white;
  text-decoration: none;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 195px;
  z-index: 10000;
}
header .title{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  /* text-transform: capitalize; */
  letter-spacing: 4px;
  transition: 0.6s;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li{
  position: relative;
  list-style: none;
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}
header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 700;
  transition: 0.6s;
}
header ul li a:hover{
  color: black;
}
header.sticky{
  padding: 30px 80px;
  background-color: rgba(40,40,40,0.6);
  box-shadow: 10px 20px 40px rgba(0,0,0,0.2);
}
header.sticky .title{
  color: #FFCC29;
}
header.sticky ul li a{
  color: white;
}

.cont{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  margin: auto;
  padding: 20vh 0;
  height: 100vh;
  width: 60%;
  /* background-image: linear-gradient(to bottom,#fff ,rgba(255,220,41,0.45) ); */
}
.hide{
  display: none;
}
.foot{
  height: 70px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.45);
}
.left{
  /* margin-top: 14%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  /* width: 50%; */
  /* width: 100%; */
}
.question__text,.score,.question__container{
  border-radius: 7px;
  padding: 12px 40px;
  /* text-align: right; */
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.question__container{
  background-color: rgba(0,0,0,0.2);
}
.score{
  background-color: rgba(0,0,0,0.2);
  /* color: limegreen; */
  font-size: 1.5rem;
}
.right{
  /* width: 50%; */
  /* margin-top: 14%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  width: 300px;
  /* border: 1px solid #eee; */
  border-radius: 7px;
  background-color: rgba(0,0,0,0.2);
  padding: 12px 40px;
}
.answer__btn{
  margin: 20px 0;
  display: block;
}
.btn:hover{
  color: white;
  background-color: #222;
}
.selected-answer,.next__btn{
  background-color: limegreen;
}
.selected-answer:hover{
  background-color: limegreen;
}
.action__container{
  position: absolute;
  right: 5%;
  top: 15%;
}
img{
  width: 500px;
}


@media (max-width: 1450px) {
  .image{
    transform: scale(0.5) translate(-200px,-200px);
  }
  header{
    padding: 40px 140px;
  }
  .quizzes{
    width: 40%;
  }
  .features_bar img{
    width: 130px;
    border: 10px solid rgba(255,204,41,1);
  }
  .features_bar p{
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  .question__text, .question__container{
    text-align: left;
    background-color: rgba(0,0,0,0);
    padding: 12px 0px;
  }
}
@media (max-width: 1050px){
  .image{
    transform: scale(0.5) translate(-200px,-200px);
  }
  header{
    padding: 40px 140px;
  }
  .quizzes{
    width: 40%;
  }
  .features_bar img{
    width: 130px;
    border: 10px solid rgba(255,204,41,1);
  }
  .features_bar p{
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-top: 10px;
  }
  /* .btn{
      margin-left: 20%;
  } */
  .headText{
    margin-top: 24vh;
    margin-left: 20%;
    color: #fff;
    font-size: 4.5rem;
    font-weight: 700;
  }
  .second{
    background-size:  cover;
  }
  .question__text, .question__container{
    text-align: left;
    background-color: rgba(0,0,0,0);
    padding: 12px 0px;
  }
}
@media (max-width: 850px) {
  .image{
    transform: scale(0.3) translate(-200px,-200px);
  }
  .cover{
    height: auto;
  }
  header{
    padding: 40px 10%;
  }
  .content{
    width: 95%;
  }
  .quizzes{
    width: 60%;
  }
  .img{
    display: none;
  }
  .left{
    height: auto;
  }
  .cont{
    width: 90%;
    /* background-image: linear-gradient(to bottom,#fff ,rgba(255,220,41,0.45) ); */
  }
  .answer__container{
    margin: 40px auto;
    width: 60%;
  }
  .btn{
    width: 100% !important;
    /* padding: 12px 40px; */
  }
  .question__text, .question__container{
    text-align: left;
    background-color: rgba(0,0,0,0);
    padding: 12px 0px;
  }
  .action__container{
    position: absolute;
    right: 5%;
    top: -10%;
  }
}
@media (max-width: 500px) {
  .headText{
    text-align: center;
    margin-top: 24vh;
    margin-left: 0%;
    padding: 40px;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
  }
  .image{
    display: none;
  }
  .cover{
    height: 90vh;
  }
  header{
    padding: 40px 20px;
  }
  header .title{
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  header ul li a{
    margin: 0px 8px;
    letter-spacing: 1px;
  }
  header.sticky{
    padding: 10px 20px;
  }
  .features_bar img{
    width: 180px;
  }
  .features_bar p{
    font-size: 1rem;
    margin-bottom: 70px;
  }
  .features_bar{
    top: 0px;
    margin-top: 60px;
  }
  .content{
    width: 100%;
    margin: 0;
    padding: 10%;
  }
  .btnClass{
    text-align: center;
  }
  .btn{
    margin: 20px auto;
    width: 60%;
  }
  .quizzes{
    width: 90%;
  }

  h2{
    font-size: 1.5rem;
  }
  .textSecond{
    font-size: 1.8rem;
  }
  .or{
    color: white;
    margin-top: 10px;
  }
  .classBtn{
    border-radius: 10px;
    padding: 5px 0px;
    margin: 5px;
    width: 60%;
    font-size: 1.3rem;
  }
}
