html{
  background-color: #e0ece4;
}
body{
  text-align: center;
  font: 'Arial';
  color: white;
}
.form {
  width: 70%;
  margin: 20vh auto;
  padding: 60px 20px;
  background-color: #776d8a;
  border-radius: 20px;
}
input{
  display: inline-block;
  margin:2px 10px 15px;
  background-color: #e0ece4;
}
.question{
  width: 90%;
  margin: 2px auto;
  padding: 10px;
  border-radius: 5px;
}
.answer{
  padding: 7px;
  width: 30%;
  border-radius: 5px;
}
.submit{
  padding: 17px;
  color: lightgray;
  border-radius: 10px;
  background-color: #56556e;
}
.submit:hover{
  background-color: purple;
}
span{
  color: lightgray;
}
